
{{!-- Leadboard --}}
{{!-- Leaderboard displays all the users and their scores --}}
<div style= "background-color: black; no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    
<h1 id="Title-2">Leaderboard</h1>
<tbody id='section'>
  <table>
    <thead>
          <tr>
              <th>Name</th>
              {{!-- <th>Score</th> --}}
              {{!-- <th>Weekly</th> --}}
              <th>Score</th>
              {{!-- <th>Monthly</th>  --}}
          </tr>
    </thead>
    
    {{!-- <div id='display-scores' style="display: none"> --}}
    <div id='display-scores'></div>
    {{#each usersLb as |user| }}
            <tr>
                <td><span>{{user.full_name}}</span></td>
                {{#each user.scores}}
                 {{!-- <td><span>{{this.weekly_score}}</span></td> --}}
                 <td><span>{{this.overall_score}}</span></td>
                {{!-- <td><span>{{this.monthly_score}}</span></td> --}}
                {{/each}}
            </tr>
    {{/each}}
    </div>
    <div id='display-scores-list'>

  {{!-- <p>{{printUser usersLb}}</p> --}}
    </div>
   </table>
 </tbody>

</div>

