{{!-- <nav class="navbar">
    <a href={{profileUrl user.id}}>Profile</a>
    <a href='/friends'{{friendsUrl user.id}}>Friends</a>
    <a href='/leaderboard'>Leaderboard</a>
</nav> --}}


<div style= "background-color: black; no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    
{{!-- <div style= "background-color: black;">  --}}
    
 
{{!-- <h1 id="Title-2">Leaderboard</h1>
{{#each leaders as |user| }}
    <div>
        <span>{{user.name}}</span>
        <span>{{user.score}}</span>
    </div>
{{/each}} --}}

{{!-- </div> --}}

<h1 id="Title-2">Leaderboard</h1>
<tbody id='section'>
  <table>
    <thead>
          <tr>
              <th>Name</th>
              <th>Score</th>
              {{!-- <th>Item Price</th> --}}
          </tr>
    </thead>
    
    {{!-- <div id='display-scores' style="display: none"> --}}
    <div id='display-scores'></div>
    {{#each usersLb as |user| }}
            <tr>
                <td><span>{{user.full_name}}</span></td>
                <td><span>{{user.scores.weekly_score}}</span></td>
            </tr>
    {{/each}}
    </div>
    <div id='display-scores-list'>

  <p>{{printUser usersLb}}</p>
    </div>
   </table>
 </tbody>






{{!-- background color black --}}
</div>

