<h2 id='welcome'>Welcome {{user.full_name}}</h2>

{{!-- {{{display-chart chartData}}} --}}

<h3 id='current-score'>Current Score: {{getUserScore user}}</h3>


<div class="form-group">
    <button class="btn btn-primary" type="submit" id="new-workout-button" style="background-color:rgb(196, 39, 39);">Add Workout</button>
</div>

<div id="submit-form"></div>


<p id='friends'>Friends</p>
<div id='display-friends' style="display: none">
    {{#each user.friend_id as |friend|}}
        <div>{{showFriend friend}}</div>
    {{/each}}
</div>
<div id='display-friends-list'>

</div>


{{!-- {{printHistory workoutHistory}} --}}
<div id="workout-history" style="color: antiquewhite;">
    {{#each workoutHistory as |workout|}}
        {{#if workout.date}}
            <h5>{{workout.date}}</h5>
            <br>
        {{else}}
            {{#each this as |exercise|}}
                <div class="entry" style="color: antiquewhite;">
                    <h6>{{nameExercise exercise.id}}</h6>
                    <div>Weight: {{exercise.weight}} lbs</div>
                    <div>Sets: {{exercise.sets}}</div>
                    <div>Reps: {{exercise.repetitions}}</div>
                    <br>
                    <br>
                </div>
            {{/each}}
        {{/if}}
        </div>
    {{/each}}
</div>


  <div class="col-md-6" id="shift2">
    <h2 id="Title">Add a workout!</h2>
    <div class="input-field white col s12" id="workout-select" style="width: 350px;">
    <select>
        <option value="" disabled selected>Choose your workout</option>
        <option value="1">Bicep Curls</option>
        <option value="2">Tricep Extensions</option>
        <option value="3">Bench Press</option>
        <option value="4">Dead Lift</option>
    </select>
    <label>Workout Select</label>
    </div>

    <form class="form signup-form">
      <div class="form-group">
        <label id="add-workout" for="repetitions">Repetitions:</label>
        <input style="color: white"class="form-input" type="text" id="add-workout-type" />
      </div>
      <div class="form-group">
        <label id="add-workout" for="workout-sets">Sets:</label>
        <input style="color: white"class="form-input" type="text" id="add-workout-type" />
      </div>
      <div class="form-group">
        <label id="add-workout" for="workout-weight">Weight:</label>
        <input style="color: white"class="form-input" type="text" id="add-workout-type" />
      </div>

<div class="form-group">
    <button class="btn btn-primary" type="submit" id="new-workout-button" style="background-color:rgb(196, 39, 39);">Add Workout</button>
</div>

<script src="./js/profile.js"></script>
