<h2 id='welcome'>Welcome {{user.full_name}}</h2>

{{!-- {{{display-chart chartData}}} --}}

<h3 id='current-score'>Current Score: {{getUserScore user}}</h3>

{{!-- {{#each workouts as |workout| }}
    <div>{{workout.date}}</div>
    <div>{{workout.points}}</div>
    {{#each exercises as |exercise| }}
        <div>{{exercise.name}}</div>
        <div>{{exercise.points}}</div>
    {{/each}}
{{/each}} --}}

<p id='friends'>Friends</p>
<div id='display-friends' style="display: none">
    {{#each user.friend_id as |friend|}}
        <div>{{showFriend friend}}</div>
    {{/each}}
</div>
<div id='display-friends-list'>

</div>

<p>{{printUser user}}</p>

  <div class="col-md-6" id="shift2">
    <h2 id="Title">Add a workout!</h2>
    <div class="input-field white col s12" id="workout-select" style="width: 350px;">
    <select>
        <option value="" disabled selected>Choose your workout</option>
        <option value="1">Bicep Curls</option>
        <option value="2">Tricep Extensions</option>
        <option value="3">Bench Press</option>
        <option value="4">Dead Lift</option>
    </select>
    <label>Workout Select</label>
    </div>

    <form class="form signup-form">
      <div class="form-group">
        <label id="add-workout" for="repetitions">Repetitions:</label>
        <input style="color: white"class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label id="add-workout" for="workout-sets">Sets:</label>
        <input style="color: white"class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label id="add-workout" for="workout-weight">Weight:</label>
        <input style="color: white"class="form-input" type="password" id="password-signup" />
      </div>

<div class="form-group">
    <button class="btn btn-primary" type="submit" id="new-workout-button" style="background-color:rgb(196, 39, 39);">Add Workout</button>
</div>

<script src="./js/profile.js"></script>

