<nav class="navbar">
    <a href={{profileUrl user.id}}>Profile</a>
    <a href={{friendsUrl user.id}}>Friends</a>
    <a href='/leaderboard'>Leaderboard</a>
</nav>

<h2 id='welcome'>Welcome {{user.full_name}}</h2>

{{!-- {{{display-chart chartData}}} --}}

<h3 id='current-score'>Current Score: {{getUserScore user}}</h3>

{{!-- {{#each workouts as |workout| }}
    <div>{{workout.date}}</div>
    <div>{{workout.points}}</div>
    {{#each exercises as |exercise| }}
        <div>{{exercise.name}}</div>
        <div>{{exercise.points}}</div>
    {{/each}}
{{/each}} --}}

<p id='friends'>Friends</p>
<div id='display-friends' style="display: none">
    {{#each user.friend_id as |friend|}}
        <div>{{showFriend friend}}</div>
    {{/each}}
</div>
<div id='display-friends-list'>

</div>

<p>{{printUser user}}</p>

<p id="Title">Add a new workout!</p>

<div class="input-field white col s12" style="width: 350px;">
    <select>
        <option value="" disabled selected>Choose your workout</option>
        <option value="1">test1</option>
        <option value="2">test2</option>
        <option value="3">test3</option>
        <option value="4">test4</option>
    </select>
    <label>Workout Select</label>
</div>

<div class="form-group">
    <button class="btn btn-primary" type="submit" id="new-workout-button" style="background-color:rgb(196, 39, 39);">Add Workout</button>
</div>

<script src="./js/profile.js"></script>


