<nav class="navbar">
    <a href={{profileUrl user.id}}>Profile</a>
    <a href={{friendsUrl user.id}}>Friends</a>
    <a href='/leaderboard'>Leaderboard</a>
</nav>

{{{display-chart chartData}}}

<a href={{newWorkoutUrl user.id}}>New Workout</a>

{{#each workouts as |workout| }}
    <div>{{workout.date}}</div>
    <div>{{workout.points}}</div>
    {{#each exercises as |exercise| }}
        <div>{{exercise.name}}</div>
        <div>{{exercise.points}}</div>
    {{/each}}
{{/each}}

{{!-- <script src="./js/profile.js"></script> --}}