<h2 id='welcome'>Welcome {{user.full_name}}</h2>

{{!-- {{{display-chart chartData}}} --}}

<h3 id='current-score'>Current Score: {{getUserScore user}}</h3>

<div class="form-group">
    <button class="btn btn-primary" type="submit" id="new-workout-button" style="background-color:rgb(196, 39, 39);">Add Workout</button>
</div>

{{!-- {{#each workouts as |workout| }}
    <div>{{workout.date}}</div>
    <div>{{workout.points}}</div>
    {{#each exercises as |exercise| }}
        <div>{{exercise.name}}</div>
        <div>{{exercise.points}}</div>
    {{/each}}
{{/each}} --}}

<p id='friends'>Friends</p>
<div id='display-friends' style="display: none">
    {{#each user.friend_id as |friend|}}
        <div>{{showFriend friend}}</div>
    {{/each}}
</div>
<div id='display-friends-list'>

</div>

<p>{{printUser user}}</p>

{{!-- workout history --}}
<p>Workout History</p>
<div> 
    {{#each workouts as |workout| }}
    <div>{{workout.date}}</div>
    {{!-- <div>{{workout.points}}</div> --}}
    {{!-- {{#each exercises as |exercise| }}
        <div>{{exercise.name}}</div>
        <div>{{exercise.points}}</div>
    {{/each}} --}}
    {{/each}}
</div>

<script src="./js/profile.js"></script>

